.about {
  padding-bottom: 2rem;
  height: 100vh;
  width: 100%;
  @include background-image;
  display: flex;

  &__images {
    border-radius: 50%;
    border-style: groove;
    border-color: $secondary-color;
    text-align: center;
    top: 25%;
    left: 150%;
  }
}

.about-footer {
  padding: 3rem;
  text-align: center;

  i {
    padding-inline: 1rem;
  }
}
