@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.2rem;
      }
    }
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .projects {
    &__bio-image {
      height: 40vh;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary {
      font-size: 2rem;
    }
  }

  .contact {
    &__list {
      display: flex;
      flex-direction: row;
      font-size: 1.1rem;
    }
    &__email {
      padding-top: 1rem;
    }
    &__address {
      padding-left: 5rem;
    }

    &__phone {
      padding-left: 2rem;
    }

    form {
      width: 40vw;
    }
  }
}

@include media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-xl {
  .projects__bio-image {
    height: 50vh;
  }
  .contact {
    form {
      width: 30vw;
    }
  }
}

@include media-sm {
  .social-icons {
    visibility: hidden;
  }

  .jobs {
    width: 100% !important;
    flex-direction: column !important;

    left: 0 !important;
    &__job {
      width: 100% !important;
      margin: 0 !important;
      margin-top: 1rem !important;
      h3 {
        margin: 0 !important;
      }
    }
    p {
      visibility: hidden;
    }
  }

  .copy-right {
    visibility: hidden;
  }
}
