@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav-scrolling {
      background: transparent;
    }

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      text-align: right !important;
    }
    .menu-nav__item {
      display: inline;
      padding-right: 1.5rem;
    }

    .menu-nav__link {
      font-size: 1.2rem;
    }
  }

  .about__bio {
    font-size: 1.5rem;
  }

  .projects {
    &__bio-image {
      height: 40vh;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    .text-secondary {
      font-size: 2rem;
    }
  }

  .contact {
    padding-top: 6rem !important;

    &__list {
      display: flex;
      flex-direction: row;
      font-size: 1.1rem;
    }
    &__email {
      padding-top: 1rem;
    }
    &__address {
      padding-left: 5rem;
    }

    &__phone {
      padding-left: 2rem;
    }
    form {
      width: 60vw;
    }
  }
}

@include media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include media-xl {
  .projects__bio-image {
    height: 50vh;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      text-align: right;
    }
    .menu-nav__item {
      display: inline;
      padding-right: 1.5rem;
    }

    .menu-nav__link {
      font-size: 1.2rem;
    }
  }
}

@include media-sm {
  .about {
    &_messages {
      flex-direction: column;
      &_item {
        width: 90% !important;
      }
    }
  }
  .social-icons {
    visibility: hidden;
  }

  .jobs {
    width: 100% !important;

    flex-direction: column !important;

    left: 0 !important;
    &__job {
      width: 100% !important;

      margin: 0 !important;
      h3 {
        margin: 0 !important;
      }
    }
    p {
      visibility: hidden;
    }
  }

  .contact {
    padding-top: 0 !important;
    overflow: hidden;
  }

  .copy-right {
    visibility: hidden;
  }
}

// Need to implement theses in future.

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  /* some CSS here */
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* some CSS here */
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* some CSS here */
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {
  /* some CSS here */
}
